{% load staticfiles %}

<html>
    <head>
        <title>Password Recovery</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main_auth/password_recovery.css' %}"/>
            <link href='http://fonts.googleapis.com/css?family=Nunito:300,400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <!-- Mogabi Card -->
        <div class="main-div">
            <!-- Title text -->
            <p class="title">Success!</p>
            <p class="bytext">Password Reset Successfully</p>

        </div>
    </body>
</html>