{% load staticfiles %}

<html>
    <head>
        <title>Password Recovery</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main_auth/password_recovery.css' %}"/>
            <link href='http://fonts.googleapis.com/css?family=Nunito:300,400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>


        <!-- Mogabi Card -->
        <div class="main-div">
            <!-- Title text -->
            <p class="title">Password Reset</p>
            <p class="bytext">Support</p>

            {% if errors %}
            <ul>
                {% for string in errors %}
                    <li>{{string}}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <!-- Username and form -->
            <div class="user-content">
                <p class="usernametext">{{username}}</p>

                <form action="{% url 'main_auth:password_recovery' %}" method="post">
                {% csrf_token %}
                    <input type="password" name="password" placeholder="New Password"
                        value="{% if password %}{{password}}{% endif %}"/>

                    <input type="password" name="confirm_password" placeholder="Confirm Password"
                        value="{% if confirm_password %}{{confirm_password}}{% endif %}"/>

                    <input type="hidden" name="token" value="{{ token }}"/>
                    <input class="submit" type="submit" name="Submit"/>
                </form>
            </div>

            <!-- Add logo to project and show here. -->
            <!--<img class="logo" src="{% static 'main_auth/images/logo.png' %}"/>-->

        </div>
    </body>
</html>