
$color-primary: rgba(108, 120, 255, 1);
$color-primary-dark: rgba(87, 94, 178, 1);

$color-secondary: rgba(248, 247, 248, 1);

$color-text-dark: rgba(144, 144, 144, 1);
$color-text-light: rgba(240, 240, 240, 1);

$color-input-background: rgba(241, 243, 249, 1);

// Bootstrap Theme Overrides
$theme-colors: (
    "primary": $color-primary,
);