

.forgot-password {

    @include auth-content-container();

    .forgot-password-title {
        @include auth-content-title();
    }

    .forgot-password-help {
        @include auth-content-sub-title();
    }

    .forgot-password-submit-container {
        position: relative;
        margin-top: 10px;
    }

    // The button spinner showing network activity
    #submit-spinner {
        $spinner-size: 25px;
        @include spinner($color:white, $size: $spinner-size);

        position:absolute;
        top: 50%;
        left: 50%;
        margin-left: -($spinner-size / 2);
        margin-top: -($spinner-size / 2);
        z-index: 1;
    }

    .forgot-password-submit {
        @include auth-content-submit();
    }

    .forgot-password-login {
        @include auth-content-secondary-button();
    }


}