
.password-reset-success {

    @include auth-content-container();

    .password-reset-success-title {
        @include auth-content-title();
    }

    .password-reset-success-sub-title {
        @include auth-content-sub-title();
    }

    .password-reset-success-login {
        display: block;
        padding: 10px 35px;
        background-color: $color-primary-dark;
        font-weight: lighter;

    }

}