{% extends 'template_auth/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}

    <div class="forgot-password container">

        <div class="row justify-content-center">
            <p class="col-auto forgot-password-title">
                Account Recovery
            </p>
        </div>

        <div class="row justify-content-center">
            <p class="col-auto forgot-password-help">
                Please enter email to recover your account
            </p>
        </div>

        <form id="forgot-password-form">
            {% csrf_token %}

            <div class="form-group">
                <input name="email" type="email" class="form-control" placeholder="Email"/>
            </div>

            <div class="forgot-password-submit-container form-group" >
                <div id="submit-spinner" class="spinner"></div>
                <button id="submit" type="submit" class="btn btn-primary forgot-password-submit">Submit</button>
            </div>
        </form>

        <div class="row justify-content-center">
            <a href="{% url 'template_auth:login' %}" class="col-auto forgot-password-login">Login</a>
        </div>

    </div>

{% endblock %}

{% block scripts %}

    <script src="{% static 'template_auth/scripts/forgot_password.js' %}"></script>
    <script src="{% static 'template_auth/scripts/components/spinner.js' %}"></script>

    <script>
        {#  Allow Django to render the correct url for the form to use.  #}
        setupForgotPasswordForm("{% url 'template_auth:forgot_password' %}")

    </script>
{% endblock %}