{% extends 'template_auth/base.html' %}
{% load widget_tweaks %}

{% block body %}

    <div class="password-reset container">
        <div class="row justify-content-center">
            <p class="password-reset-title col-auto">Password Reset</p>

        </div>

        <div class="row justify-content-center">
            <p class="password-reset-sub-title col-auto">
                Please enter your new password for user: <br/> {{ form.user.email }}
            </p>
        </div>

        <div class="row justify-content-start">
            {#  All errors are shown through the second field errors  #}
            {{ form.new_password2.errors }}
        </div>

        <form
            role="form"
            method="post">
            {% csrf_token %}

            <div class="form-group">
                {% render_field form.new_password1 class="form-control" placeholder="New Password" %}
            </div>

            <div class="form-group">
                {% render_field form.new_password2 class="form-control" placeholder="Confirm Password" %}
            </div>

            <button type="submit" class="btn btn-primary password-reset-submit">Submit</button>
        </form>

        <div class="row justify-content-center">
            <a href="{% url 'platform_auth:login' %}" class="col-auto password-reset-login">Login</a>
        </div>
    </div>

{% endblock %}