{% extends 'template_auth/base.html' %}

{% block body %}

    <div class="password-reset-success container">

        <div class="row justify-content-center">
            <p class="password-reset-success-title">Success</p>
        </div>

        <div class="row justify-content-center">
            <p class="password-reset-success-sub-title">Your password has been reset. You may now login.</p>
        </div>

        <div class="row justify-content-center">
            <a class="password-reset-success-login btn btn-primary" href="{% url 'template_auth:login' %}">Login</a>
        </div>

    </div>

{% endblock %}